<div class="welcome">
  <main class="valign-wrapper">
      <span class="container ">

        <p class="flow-text">Welcome!</p>
        <h1 class="title">Buy everithing</h1>

        <blockquote class="flow-text">You will get whatever you want here.</blockquote>

        <div class="center-align">
          <%= link_to products_path do %>
            <button class="btn waves-effect waves-light purple darken-1" type="submit" name="action">Go to our products</button>
          <% end %>

          <div class="carousel">
            <% @products.each do |product| %>
              <a class="carousel-item" href="#one!">
                <img src="<%= product.image_url %>">
              </a>
            <% end %>
          </div>
        </div>
      </span>
    </main>
</div>
