// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// 

.product img{
	width: 65%;
}

.color-displayer{
  width: 25px;
  height: 25px;
}

@media (max-width: 600px) { 
  .product img{
	width: 100%;
  }
}


