// Place all the styles related to the SimplePages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.title{
  font-family: 'Architects Daughter', cursive;
  text-transform: uppercase;
  font-weight: 900;
  text-align: left !important;
  color: #9C27B0 !important;
}

.welcome {
  margin-top: 3%;
}
