<h1>Editing Product</h1>

<%= render 'form', product: @product %>

<div class="fixed-action-btn">
  <%= link_to @product, :method => :delete, :class => "btn-floating red tooltipped", :data => { :position => 'left', :tooltip => 'Delete Product' } do %>
    <i class="material-icons">clear</i>
  <% end %>
</div>
