<div class="row">
  <%= render @products %>
</div>

<div class="fixed-action-btn">
  <%= link_to new_product_path, :class => "btn-floating btn-large red" do %>
    <i class="large material-icons">add</i>
  <% end %>
</div>